/******************************************************** 
header
********************************************************/
a
{
    text-decoration: none;
}

header a, header a:visited
{
    color: black;
}

#logo
{
    text-align: center;
    margin: 0;
}

h1 
{
    font-family: 'Luckiest Guy', cursive;
    margin: 40px 0 -20px 0;
    font-size: 5em;
    font-weight: normal;
    line-height: 1em;
}

/******************************************************** 
navigation
********************************************************/
nav a, nav a:visited
{
    color: white;
    padding: 15px 20px;
}

nav a:hover
{
    color: white;
}

nav
{
    font-family: 'Anton', serif;
    font-weight: normal;
    font-size: 1.50em;
    text-align: center;
    background-color: #7dc4c8;
}

nav ul
{
    list-style: none;
    margin: 35px 40px 5px; 
    padding: 0;
}

nav li
{
    display: inline-block;
}

/******************************************************** 
div: section, footer 
********************************************************/
#wrapper
{
    max-width: 100%;
    margin: 0 auto;
    /*padding: 0 1%;*/
    padding: 0;
}

img
{
    max-width: 100%;
}

footer
{
    color: #999;
    text-align: center;
    clear: both;
    padding-top: 10px;
}

/******************************************************** 
home page
********************************************************/

/******************************************************** 
about page
********************************************************/

/******************************************************** 
vendors page
********************************************************/

/******************************************************** 
volunteers page
********************************************************/

/******************************************************** 
gallery page
********************************************************/

/******************************************************** 
faq page
********************************************************/

/******************************************************** 
contact page
********************************************************/

/******************************************************** 
relevant colors: #7dc4c8 (teal) & 
********************************************************/